@model List<Model.EF.CartItem>
<div class="cart box_1">
    <a href="checkout.html">
        <div class="total">
            <span class="simpleCart_total">@Model.Sum(c=>c.TotalPrice)</span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)
        </div>
        <img src="/Assets/user/images/bag.png" alt="" />
    </a>
    <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
    <div class="clearfix"> </div>
</div>

