<div class="navigation">
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/Home/Index" class="act">Home</a></li>
                    <!-- Mega Menu -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row" data-id="row-navigation">
                                

                                @*<div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <h6>Clothing</h6>
                                        <li><a href="dresses.html">Dresses<span>New</span></a></li>
                                        <li><a href="sweaters.html">Sweaters</a></li>
                                        <li><a href="skirts.html">Shorts & Skirts</a></li>
                                        <li><a href="jeans.html">Jeans</a></li>
                                        <li><a href="shirts.html">Shirts & Tops<span>New</span></a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <h6>Ethnic Wear</h6>
                                        <li><a href="salwars.html">Salwars</a></li>
                                        <li><a href="sarees.html">Sarees<span>New</span></a></li>
                                        <li><a href="products.html"><i>Summer Store</i></a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <ul class="multi-column-dropdown">
                                        <h6>Foot Wear</h6>
                                        <li><a href="sandals.html">Flats</a></li>
                                        <li><a href="sandals.html">Sandals</a></li>
                                        <li><a href="sandals.html">Boots</a></li>
                                        <li><a href="sandals.html">Heels</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w3ls_products_pos">
                                        <h4>50%<i>Off/-</i></h4>
                                        <img src="/Assets/user/images/1.jpg" alt=" " class="img-responsive"/>
                                    </div>
                                </div>*@
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li><a href="/About/Index">About Us</a></li>
                    <li><a href="short-codes.html">Short Codes</a></li>
                    <li><a href="mail.html">Mail Us</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<script>
    var uri = '/api/ProductCategory';
    var obj = [];
    $.getJSON(uri).success(function(data) {
        
        var strhtml = '';
        
        var tmp = JSON.parse(data);
        console.log(tmp.length)
        for (var i = 0; i < tmp.length; i++) {
            strhtml += '<div class="col-sm-3"><ul class="multi-column-dropdown">' +
                '<h6>' + data.parentName +'</h6>' +
                '<li><a href="dresses.html">Dresses<span>New</span></a></li>' +
                '<li><a href="sweaters.html">Sweaters</a></li>' +
                '<li><a href="skirts.html">Shorts & Skirts</a></li>' +
                '<li><a href="jeans.html">Jeans</a></li>' +
                '<li><a href="shirts.html">Shirts & Tops<span>New</span></a></li>' +
                '</ul>' +
                '</div>';
        }
        //$.each(data, function() {
            
        //})

        $('[data-id="row-navigation"]').html(strhtml);
    });
    
</script>
