
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
@section header{
    Product Category List
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Panel heading
            </div>
            <div class="panel-body">
                <div clas="row">
                    <button type="submit" class="btn btn-danger" id="btnSync">Sync</button>
                </div>
                <div class="row show-grid">
                    <div class="col-md-4">Name</div>
                    <div class="col-md-4">Parent ID</div>
                    <div class="col-md-4">Display order</div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>

