@model List<Model.EF.ProductCategory>
@{
    ViewBag.Title = "Product Category";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 20);
}
@section header{
    Product Category List
}
<script>
    var userlogin = '@Session["USERNAME_SESSION"]';

</script>

@section jsFooter
{
    <script src="/Assets/admin/js/controller/ProductCategory.js?v=1001111"></script>
}

<style type="text/css">
    /*.table
        {
            margin: 4px;
            border-collapse: collapse;
            width: 300px;
        }*/
    .table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        width: 100%;
        display: table;
        border-collapse: separate;
        border: solid 1px yellowgreen;
        background-color: white;
    }

    .header {
        background-color: yellowgreen;
        font-weight: bold;
        color: blue;
        padding-top: 5px;
        padding: 3px 7px 2px;
    }

    .table th, .table td {
        border: 1px solid black;
        /*padding: 5px;*/
        padding: 3px 7px 2px;
    }

    .webgrid-alternating-row {
        background-color: pink;
        padding: 3px 7px 2px;
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
    }
    /*for alteranating row style*/
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Panel heading
            </div>
            <div class="panel-body">
                <div clas="row">
                    <button type="submit" class="btn btn-danger" id="btnSync">Sync</button>
                </div>
                <div class="row show-grid">

                    @grid.GetHtml(
                             htmlAttributes: new { id = "tblData" },
                             tableStyle: "table", // applying style on grid

                             //fillEmptyRows: true,
                             //show empty row when there is only one record on page to it will display all empty rows there.

                             headerStyle: "header", //applying style.

                             footerStyle: "grid-footer", //applying style.
                             alternatingRowStyle: "webgrid-alternating-row",
                             rowStyle: "webgrid-row-style",
                             mode: WebGridPagerModes.All, //paging to grid
                                                          //firstText: "<< First",
                                                          //previousText: "< Prev",
                                                          //nextText: "Next >",
                                                          //lastText: "Last >>",
                             columns: new[]
                             {
                                    grid.Column("Name", style: "name"),
                                    grid.Column("ParentID", style: "parentID"),
                                    grid.Column("DisplayOrder", style: "order")
                             }
                             )

                </div>
            </div>
        </div>
    </div>
</div>


